{{>navbar}}
<div class="flex flex-col justify-center items-center h-full">
  <form id="form" hx-encoding="multipart/form-data" hx-post="/file/upload">
    <input type="file" name="file" class="file-input" />
    <button class="btn btn-neutral">Upload</button>
    <progress
      class="progress progress-success w-56"
      value="0"
      max="100"
    ></progress>
  </form>
</div>
{{>dock}}
<script>
  htmx.on('#form', 'htmx:xhr:progress', function (evt) {
    htmx
      .find('#progress')
      .setAttribute('value', (evt.detail.loaded / evt.detail.total) * 100);
  });
</script>
