{{>navbar}}

<main class="p-20 flex flex-col justify-center items-center h-full">
  <h1>Offline.</h1>
  <p>This page is not cached for offline viewing.</p>
  <a href="/" class="btn">{{t 'lang.RETURN_TO_HOME'}}</a>
</main>

{{>dock}}
